@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:400,600,700&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-s-facebook:before {
  content: ""
}
._icon-s-twitter:before {
  content: ""
}
._icon-s-instagram:before {
  content: ""
}
._icon-quote:before {
  content: ""
}
._icon-select-arrow:before {
  content: ""
}
._icon-spoon:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #aaa;
  line-height: 1;
  font-family: "Open Sans",sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Open Sans",sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
* {
  -webkit-tap-highlight-color: transparent
}
html {
  scroll-behavior: smooth
}
body {
  background-color: #0c0b08
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 83.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: .3125rem
}
.menu__link {
  line-height: 175%;
  letter-spacing: .04em;
  transition: color .3s ease 0s
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header__logo {
  font-family: "Cormorant Upright",serif
}
[class*=__container_wide] {
  max-width: 106.875rem
}
.header {
  color: #fff
}
.header__container {
  display: flex;
  align-items: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  padding-top: .625rem;
  padding-bottom: .625rem
}
.header__column {
  flex-shrink: 0;
  flex-grow: 0
}
.header__column_wide {
  flex: 1 1 auto
}
.header__column_auth {
  align-self: stretch
}
.header__logo {
  position: relative;
  z-index: 2;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .04em
}
.auth-header {
  height: 100%;
  display: flex;
  row-gap: .3125rem;
  justify-content: flex-end;
  padding: 1.375rem 0
}
.auth-header__item {
  display: flex;
  align-items: center;
  position: relative
}
.auth-header__item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom,rgba(255,255,255,0) 1%,#fff 38%,#fff 51%,#fff 67%,rgba(255,255,255,0) 100%)
}
.auth-header__link {
  text-align: center;
  line-height: 140%;
  transition: color .3s ease 0s
}
@media (min-width:83.125em) {
  .menu__list {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem
  }
  .header__container {
    min-height: 7.5625rem
  }
  .header__column {
    flex-basis: 18.75rem
  }
  .header__logo {
    font-size: 2.75rem
  }
  .auth-header {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .auth-header__item:not(:last-child)::before {
    right: -1.5rem
  }
}
@media (max-width:48em) {
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .header__logo {
    font-size: 2.1875rem
  }
}
@media (max-width:20em) {
  .header__container {
    min-height: 4.375rem
  }
}
@media (max-width:71.875em) {
  .header__column_auth {
    align-self: auto
  }
  .auth-header {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .auth-header {
    flex-direction: column;
    align-items: flex-end;
    padding: 0
  }
  .auth-header__item:not(:last-child)::before {
    right: -.625rem
  }
  .auth-header__item:not(:last-child)::before {
    content: "";
    display: none
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    overflow: auto;
    background-color: #0c0c0c;
    padding-bottom: 1.875rem;
    padding-right: .9375rem;
    padding-left: .9375rem;
    transition: top 1s ease 0s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    background-color: #000;
    background: linear-gradient(to bottom,#000 50%,rgba(0,0,0,0) 100%);
    left: 0;
    top: -100%;
    transition: top 1s ease 0s;
    z-index: 2
  }
  .menu-open .menu__body {
    top: 0
  }
  .menu-open .menu__body::before {
    top: 0
  }
  .menu__list {
    flex-direction: column
  }
  .menu__list:not(:last-child) {
    margin-bottom: 3.125em
  }
  .menu__link {
    font-size: 2.1875rem
  }
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 2.5rem;
    width: 2.5rem;
    height: 1.40625rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
}
@media (max-width:47.99875em)and (max-width:20em) {
  .menu__body {
    padding-top: 6.25rem
  }
  .menu__body::before {
    min-height: 6.25rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .auth-header {
    align-items: center
  }
  .auth-header__link {
    font-size: 1.75rem
  }
}
@media (max-width:47.99875em)and (min-width:83.125em) {
  .menu__body {
    padding-top: 10.625rem
  }
  .menu__body::before {
    min-height: 9.4375rem
  }
}
@media (max-width:47.99875em)and (min-width:20em)and (max-width:83.125em) {
  @supports (padding-top:clamp(6.25rem ,4.8638613861rem + 6.9306930693vw ,10.625rem)) {
    .menu__body {
      padding-top: clamp(6.25rem ,4.8638613861rem + 6.9306930693vw ,10.625rem)
    }
  }
  @supports not (padding-top:clamp(6.25rem ,4.8638613861rem + 6.9306930693vw ,10.625rem)) {
    .menu__body {
      padding-top: calc(6.25rem + 4.375*(100vw - 20rem)/ 63.125)
    }
  }
  @supports (min-height:clamp(6.25rem ,5.2400990099rem + 5.0495049505vw ,9.4375rem)) {
    .menu__body::before {
      min-height: clamp(6.25rem ,5.2400990099rem + 5.0495049505vw ,9.4375rem)
    }
  }
  @supports not (min-height:clamp(6.25rem ,5.2400990099rem + 5.0495049505vw ,9.4375rem)) {
    .menu__body::before {
      min-height: calc(6.25rem + 3.1875*(100vw - 20rem)/ 63.125)
    }
  }
}
@media (min-width:48em)and (max-width:83.125em) {
  @supports ((-moz-column-gap:clamp(0.9375rem ,-0.5144572954rem + 3.024911032vw ,2rem)) or (column-gap:clamp(0.9375rem ,-0.5144572954rem + 3.024911032vw ,2rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.9375rem ,-.5144572954rem + 3.024911032vw ,2rem);
      -moz-column-gap: clamp(.9375rem ,-.5144572954rem + 3.024911032vw ,2rem);
      column-gap: clamp(.9375rem ,-.5144572954rem + 3.024911032vw ,2rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,-0.5144572954rem + 3.024911032vw ,2rem)) or (column-gap:clamp(0.9375rem ,-0.5144572954rem + 3.024911032vw ,2rem))) {
    .menu__list {
      -webkit-column-gap: calc(.9375rem + 1.0625*(100vw - 48rem)/ 35.125);
      -moz-column-gap: calc(.9375rem + 1.0625*(100vw - 48rem)/ 35.125);
      column-gap: calc(.9375rem + 1.0625*(100vw - 48rem)/ 35.125)
    }
  }
  @supports (flex-basis:clamp(11.25rem ,1.0008896797rem + 21.3523131673vw ,18.75rem)) {
    .header__column {
      flex-basis: clamp(11.25rem ,1.0008896797rem + 21.3523131673vw ,18.75rem)
    }
  }
  @supports not (flex-basis:clamp(11.25rem ,1.0008896797rem + 21.3523131673vw ,18.75rem)) {
    .header__column {
      flex-basis: calc(11.25rem + 7.5*(100vw - 48rem)/ 35.125)
    }
  }
  @supports (font-size:clamp(2.1875rem ,1.418816726rem + 1.6014234875vw ,2.75rem)) {
    .header__logo {
      font-size: clamp(2.1875rem ,1.418816726rem + 1.6014234875vw ,2.75rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.418816726rem + 1.6014234875vw ,2.75rem)) {
    .header__logo {
      font-size: calc(2.1875rem + .5625*(100vw - 48rem)/ 35.125)
    }
  }
}
@media (min-width:20em)and (max-width:83.125em) {
  @supports (min-height:clamp(4.375rem ,3.3650990099rem + 5.0495049505vw ,7.5625rem)) {
    .header__container {
      min-height: clamp(4.375rem ,3.3650990099rem + 5.0495049505vw ,7.5625rem)
    }
  }
  @supports not (min-height:clamp(4.375rem ,3.3650990099rem + 5.0495049505vw ,7.5625rem)) {
    .header__container {
      min-height: calc(4.375rem + 3.1875*(100vw - 20rem)/ 63.125)
    }
  }
}
@media (min-width:71.875em)and (max-width:83.125em) {
  @supports ((-moz-column-gap:clamp(1.25rem ,-10.7291666667rem + 16.6666666667vw ,3.125rem)) or (column-gap:clamp(1.25rem ,-10.7291666667rem + 16.6666666667vw ,3.125rem))) {
    .auth-header {
      -webkit-column-gap: clamp(1.25rem ,-10.7291666667rem + 16.6666666667vw ,3.125rem);
      -moz-column-gap: clamp(1.25rem ,-10.7291666667rem + 16.6666666667vw ,3.125rem);
      column-gap: clamp(1.25rem ,-10.7291666667rem + 16.6666666667vw ,3.125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,-10.7291666667rem + 16.6666666667vw ,3.125rem)) or (column-gap:clamp(1.25rem ,-10.7291666667rem + 16.6666666667vw ,3.125rem))) {
    .auth-header {
      -webkit-column-gap: calc(1.25rem + 1.875*(100vw - 71.875rem)/ 11.25);
      -moz-column-gap: calc(1.25rem + 1.875*(100vw - 71.875rem)/ 11.25);
      column-gap: calc(1.25rem + 1.875*(100vw - 71.875rem)/ 11.25)
    }
  }
  @supports (right:clamp(-1.5rem ,4.9652777778rem + -7.7777777778vw ,-0.625rem)) {
    .auth-header__item:not(:last-child)::before {
      right: clamp(-1.5rem ,4.9652777778rem + -7.7777777778vw ,-.625rem)
    }
  }
  @supports not (right:clamp(-1.5rem ,4.9652777778rem + -7.7777777778vw ,-0.625rem)) {
    .auth-header__item:not(:last-child)::before {
      right: calc(-.625rem + -.875*(100vw - 71.875rem)/ 11.25)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: #dcca87
  }
  .auth-header__link:hover {
    color: #dcca87
  }
}